[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
python-dotenv = "*"
geopandas = "*"
matplotlib = "*"
pandas = "*"
boto3 = "*"
shapely = "*"
geoplot = "*"
numpy = "*"
lazrs = "*"
laspy = {extras = ["lazrs"], version = "*"}
pyproj = "*"

[dev-packages]

[requires]
python_version = "3.11"
